In [1]:
import pandas as pd

In [5]:
for country in ['Egypt', 'Hungary', 'Nigeria', 'Poland', 'Romania']:
    
    gdp_path = 'FER_GDP_ratio_' + country + '.csv'
    gdp = pd.read_csv(gdp_path)
    gdp['FER/GDP MA3'] = gdp['FER/GDP'].rolling(3).mean()
    csv_path = 'FER_GDP_ratio_' + country + '.csv'
    gdp.to_csv(csv_path, index = False)

In [3]:
country = 'Egypt'
gdp_path = 'FER_GDP_ratio_' + country + '.csv'
gdp = pd.read_csv(gdp_path)
gdp['FER/GDP MA3'] = gdp['FER/GDP'].rolling(3).mean()

In [4]:
gdp

,Date,Foreign Exchange Reserves USD mn,GDP in mil USD,FER/GDP,FER/GDP MA3
0,2004-12-31,13446.7,21078.90,0.637922,NaN
1,2005-01-31,14662.8,22290.44,0.657807,NaN
2,2005-02-28,15455.4,22712.19,0.680489,0.658739
3,2005-03-31,16149.2,23017.24,0.701613,0.679970
4,2005-04-30,16589.8,23022.19,0.720600,0.700901
...,...,...,...,...,...
216,2022-12-31,24447.2,102104.62,0.239433,0.223574
217,2023-01-31,23772.4,88184.15,0.269577,0.247929
218,2023-02-28,24619.4,84339.37,0.291909,0.266973
219,2023-03-31,24120.5,84888.17,0.284144,0.281877
220,2023-04-30,23812.2,86289.87,0.275956,0.284003